.modal {
    /* fixed z-[9999] top-0 bottom-0 left-0 right-0 */
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .overlay {
    /* absolute top-0 bottom-0 left-0 right-0  bg-[rgba(0,0,0,.4)] */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .innerModal {
    z-index: 9999 !important;
  }
  
  .center {
    /*  && 'absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2' */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }