.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #111;
    height: 70px;
}

.nav-contents {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nav-item {
    cursor: pointer;
}

.nav-item:hover {
    color: rgb(167, 167, 167);
    transition: all 0.2s;
}

.nav-logo {
    width: 160px;
    object-fit: contain;
    cursor: pointer;
    padding-left: 20px;
}

.nav-avatar {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}