.row {
    margin-left: 20px;
}

.row-poster {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 1rem;
    white-space: nowrap;
}

.row-poster::-webkit-scrollbar {
    display: none;
}

.poster {
    object-fit: contain;
    height: 120px;
    margin-right: 10px;
    transition: transform 450ms;
}

.poster:hover {
    transform: scale(1.1);
}

.posterLarge {
    object-fit: contain;
    height: 240px;
    margin-right: 10px;
    transition: transform 450ms;
}

.posterLarge:hover {
    transform: scale(1.1);
}