

.App {
  margin: 0;
  color: white;
  background-color: #111;
  height: 100vh;
  overflow-x: hidden;
}

.popup-detail-movie {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border-radius: 8px;
}

